@font-face {
    font-family: headerfont;
    src: url(fonts/Chewy-Regular.ttf);
}

@font-face {
    font-family: bodyfont;
    src: url(fonts/CascadiaCode.ttf);
}

:root {
    --textcolor: #000000;
    --buttoncolor: #FDFFDD;
    --bgcolor: #FFFFFF;
    --linkcolor: #0004FF;
    --linkhovercolor: #00E1FF;
    --headertextcolor: #0003A1;
    --headerbgcolor: #60FFC2;
    --headergradient: linear-gradient(90deg, #68B1FF, #60FFC2, #FFFF6A);
}

body {
    text-align: center;
    margin: 0;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    margin-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: headerfont;
}

h1 {
    font-size: 43px;
    line-height: 20px;
}

h2 {
    font-size: 32px;
    line-height: 10px;
}

p {
    font-size: 17px;
    font-family: bodyfont;
}

a {
    color: var(--linkcolor);
}

a:hover {
    color: var(--linkhovercolor);
}

button {
    font-family: bodyfont;
    font-size: 17px;
    color: var(--headertextcolor);
    background-color: var(--buttoncolor);
    border: 2px solid var(--headertextcolor);
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
    color: var(--buttoncolor);
    background-color: var(--headertextcolor);
    border: 2px solid var(--headertextcolor);
}

.header {
    color: var(--headertextcolor);
    background-color: var(--headerbgcolor);
    background-image: var(--headergradient);
    padding: 40px;
    border-bottom: 2px solid var(--headertextcolor)
}

.content {
    margin: auto;
    margin-top: 70px;
    width: 700px;
    text-align: left;
}

.art {
    text-decoration: none;
}

.gallery {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}