@font-face {
    font-family: headerfont;
    src: url(fonts/CherryBombOne-Regular.ttf);
}

@font-face {
    font-family: bodyfont;
    src: url(fonts/Lexend-Regular.ttf);
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

:root {
    --textcolor: #005A81;
    --buttoncolor: #F5FFCD;
    --bgcolor: #C9FFF9;
    --linkcolor: #F07A0E;
    --linkhovercolor: #6BD600;
    --headercolor: #82D2FF;
    --headergradient: linear-gradient(#F5FF85, #7AFFDB, #82D2FF);
    --shadowcolor: rgba(0, 10, 103, 0.3);
}

body {
    text-align: center;
    margin: 0;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    margin-bottom: 80px;
    animation: fadein 1s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: headerfont;
}

h1 {
    font-size: 43px;
    line-height: 20px;
}

h2 {
    font-size: 32px;
    line-height: 10px;
}

p {
    font-size: 17px;
    font-family: bodyfont;
}

a {
    color: var(--linkcolor);
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: var(--linkhovercolor);
}

button {
    font-family: bodyfont;
    font-size: 17px;
    color: var(--textcolor);
    background-color: var(--buttoncolor);
    border: 2px solid var(--textcolor);
    border-radius: 10px;
    box-shadow: 0px 3px 5px var(--shadowcolor);
    padding: 10px;
    width: 120px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
    color: var(--buttoncolor);
    background-color: var(--textcolor);
    border: 2px solid var(--textcolor);
    transition: ease-in-out 0.1s;
}

.header {
    background-color: var(--headercolor);
    background-image: var(--headergradient);
    padding: 40px;
    box-shadow: 0px 4px 12px var(--shadowcolor);
}

.content {
    margin: auto;
    margin-top: 90px;
    width: 700px;
    text-align: left;
}

.art {
    text-decoration: none;
}

.gallery {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}